<div class="card card-cascade narrower">
    <div class="view view-cascade bg-primary text-white">
        <h3 class="h3-responsive font-weight-stone-600 px-3 pt-3 pb-2">
            Editer une annonce {{ advert.category.name }}
            {% if advert.subCategory|length > 0 %}
                - {{ advert.subCategory.name}}
            {% endif %}
        </h3>
    </div>
    <div class="card-body card-body-cascade px-lg-5">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'advert-form'}}) }}

        {% include 'user/advert/edit/form/'~view %}

        {{ form_widget(form._token) }}
        <div class="text-center mt-3">
            <button class="btn btn-primary btn-lg app-ad-submit-btn" type="submit">
                Editer votre annonce <i class="fas fa-pen ml-2"></i>
            </button>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>

