{% import 'Ui/Macro/buttons.html.twig' as buttons %}

<div class="row mb-4">
    <div class="col-12 d-flex justify-content-center justify-content-md-between">
        <div id="entity-list-delete-bulk-btn" class="mr-3 d-none entity-review-delete-bulk-btn">
            {% include 'Ui/Grid/Action/delete.html.twig' with {'action': {'label': 'Supprimer'}} %}
        </div>
        <div class="d-flex ml-auto">
            <div class="">
                {% include 'admin/review/filter.html.twig' with {'form': searchForm}  %}
            </div>
            {% set path = path('app_admin_review_create') %}
            <div class="mr-3">
                <a href="" class="btn btn-grey" data-toggle="modal" data-target="#entity-search">
                    <i class="fas fa-filter mr-1" aria-hidden="true"></i> Filtres
                </a>
            </div>

            {% include 'Ui/Grid/Action/create.html.twig' with {'path': path, 'action': {'label': 'Créer'}} %}
        </div>
    </div>
</div>

{% if reviews|length > 0 %}
    <div class="row app-user mb-5">
        <div class="col-12">
            <table class="table table-responsive-sm">
                <thead class="text-primary">
                <tr>
                    <th scope="col" class="text-center">
                        <div class="" style="position: relative; right: 10px; top: 2px">
                            <input type="checkbox" name="principal" class="form-check-input filled-in" id="principal-checkbox" value="" style="margin: 0 !important;" />
                            <label class="form-check-label" for="principal-checkbox"
                                   style="padding-left: 0!important; "></label>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-stone-500 text-center">Nom et prénom</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Profession</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Message</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Note (sur 5)</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Client</th>
                    <th scope="col" class="font-weight-stone-500 text-center">En avant</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Status</th>
                    <th scope="col" class="font-weight-stone-500 text-center"></th>
                </tr>
                </thead>
                <tbody id="list-checkbook-container">
                {% for review in reviews %}
                    <tr>
                        <td class="text-center">
                            <div class="" style="position: relative; right: 10px; top: 2px">
                                <input type="checkbox" name="checkbox{{ loop.index }}" class="form-check-input filled-in list-checkbook"
                                       id="checkbox{{ loop.index }}" value="{{ review.id }}" style="margin: 0 !important;" />
                                <label class="form-check-label" for="checkbox{{ loop.index }}" style="padding-left: 0!important; "></label>
                            </div>
                        </td>
                        <td class="text-center">{{ review.name|capitalize }}</td>
                        <td class="text-center">{{ review.profession }}</td>
                        <td class="text-center">{{ review.comment }}</td>
                        <td class="text-center">{{ review.rating }}</td>
                        <td class="text-center">
                            {% if review.customer %}
                                <a href="{{ path('app_admin_customer_show', {'id': review.customer.id}) }}" class="link">@{{ review.customer.username }}</a>
                            {% else %}
                                <span class="badge badge-grey">NC</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if review.home %}
                                <span class="badge badge-success">
                                    <i class="fas fa-check mr-1"></i> Oui
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    <i class="fas fa-times mr-1"></i> Non
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if review.enabled %}
                                <span class="badge badge-success">
                                    <i class="fas fa-check mr-1"></i> Actif
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    <i class="fas fa-times mr-1"></i> Inactif
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <div class="dropdown">
                                <a class="dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-primary dropdown-menu-right mt-0">
                                    <a href="{{ path('app_admin_review_edit', {'id': review.id}) }}" class="dropdown-item">
                                        <i class="fas fa-pencil-alt mr-1"></i> Editer
                                    </a>
                                    <a href="{{ path('app_admin_review_move', {'id': review.id, 'pos': -1}) }}" class="dropdown-item">
                                        <i class="fas fa-arrow-up mr-1"></i> Monter
                                    </a>
                                    <a href="{{ path('app_admin_review_move', {'id': review.id, 'pos': 1}) }}" class="dropdown-item">
                                        <i class="fas fa-arrow-down mr-1"></i> Descendre
                                    </a>
                                    <a class="dropdown-item entity-review-delete" id="{{ review.id }}">
                                        <i class="fas fa-trash mr-1 text-danger"></i> Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 d-flex justify-content-start mt-2">
            <div class="font-weight-stone-500 text-secondary">{{ reviews.totalItemCount }} resultats</div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-2">
            {{ knp_pagination_render(reviews, 'Ui/_pagination.html.twig') }}
        </div>
    </div>
{% else %}
    <div class="row app-user d-flex justify-content-center">
        <div class="col-12 col-md-8 text-center mt-3 mt-md-5">
            <h3 class="text-primary h3-responsive font-weight-stone-600">
                Vous n'avez aucune témoignage.
            </h3>
        </div>
    </div>
{% endif %}
