<section class="container-fluid app-service-design-graphic">
    <div class="row p-0 graphic">
        <div class="col-12 col-lg-5 one pr-lg-0 p-0">
            <div class="stylish-color text-white text-left py-4 py-md-5 px-3 px-md-5 wow fadeInRight">
                <div class="mx-4">
                    <h4 class="font-weight-stone-500 text-uppercase h4-responsive mb-4">Graphisme</h4>
                    <h1 class="display-5 font-weight-stone-600 mb-4">
                        Des <span class="amber-text font-weight-bold">designs</span>
                        conçus <span class="text-danger font-weight-bold">pour vous</span>.
                    </h1>
                    <p>
                        Dans un environnement concurrentiel, c’est votre <span class="font-weight-stone-500 amber-text">design</span>
                        et <span class="font-weight-stone-500 amber-text">création graphique</span> qui permettront à vos clients de
                        <span class="font-weight-stone-500 amber-text">vous identifier</span> et de se souvenir de vous.
                    </p>
                    <p>
                        Votre succès dépendra de la façon dont vous vous imposerez avec un <span class="font-weight-stone-500 amber-text">message
                        impactant</span> et une <span class="font-weight-stone-500 amber-text">image distincte</span>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-7 pl-lg-0 p-0 one">
            <div class="view wow fadeInRight d-none d-lg-block">
                <img src="{{ asset('images/data/design.jpg') }}" class="img-fluid" alt="Image of ballons flying over canyons with mask pattern one.">
                <div class="mask rgba-black-slight flex-center">
                    <h1 class="display-5 font-weight-stone-600 white-text wow fadeInUpBig" data-wow-delay="0.3s">
                        Innovation et efficacité
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 pr-lg-0 p-0 two">
            <div class="bg-white text-left py-4 py-md-5 px-3 px-md-5 wow fadeInRight">
                <div class="mx-4">
                    <h1 class="display-5 font-weight-stone-600 mb-4">
                        Identité <span class="text-primary">visuelle</span>.
                    </h1>
                    <p>
                        Certains éléments permettent de bien identifier une entreprise et de marquer les esprits.
                        L’agence Oneo Digital vous propose la réalisation de <span class="text-default font-weight-stone-500">logo</span>,
                        <span class="text-default font-weight-stone-500">police de caractères</span>, <span class="text-default font-weight-stone-500">palette de couleurs</span>
                        <span class="text-default font-weight-stone-500">icônes</span>, <span class="text-default font-weight-stone-500">visuels</span>,
                        <span class="text-default font-weight-stone-500">charte graphique</span>...
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 pl-lg-0 p-0 two">
            <div class="view wow fadeInUp d-none d-lg-block">
                <img src="{{ asset('images/data/Indentity_visuelle.png') }}" class="img-fluid" alt="Image of ballons flying over canyons with mask pattern one.">
                <div class="mask rgba-black-slight flex-center"></div>
            </div>
        </div>
        <div class="col-12 col-lg-7 pr-lg-0 p-0 three">
            <div class="danger-color text-white text-left py-4 py-md-5 px-3 px-md-5 wow fadeInRight">
                <div class="mx-4">
                    <h1 class="display-4 font-weight-stone-600 mb-4">
                        Web design
                    </h1>
                    <p>
                        Nous vous proposons son expertise et son savoir-faire en réalisation de
                        <strong class="font-weight-stone-500 dark-grey-text">wireframe</strong>, <strong class="ffont-weight-stone-500 dark-grey-text">maquette</strong>,
                        <strong class="font-weight-stone-500 dark-grey-text">prototype</strong>, <strong class="font-weight-stone-500 dark-grey-text">UI/UX</strong>,
                        <strong class="font-weight-stone-500 dark-grey-text">parcours utilisateur et ergonomie web</strong>
                        pour que vos pages web répondent à vos <strong class="font-weight-stone-500 dark-grey-text">objectifs marketing</strong>
                        et proposent une <strong class="font-weight-stone-500 dark-grey-text">expérience utilisateur optimale</strong>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5 pl-lg-0 p-0 three">
            <div class="view wow fadeInUp d-none d-lg-block">
                <img src="{{ asset('images/data/web_design.jpg') }}" class="img-fluid" alt="Image of ballons flying over canyons with mask pattern one.">
                <div class="mask rgba-black-slight flex-center"></div>
            </div>
        </div>
        <div class="col-12 col-lg-5 pr-lg-0 p-0 foor">
            <div class="bg-primary text-white text-left py-4 py-md-5 px-3 px-md-5 wow fadeInRight">
                <div class="mx-4">
                    <h1 class="display-4 font-weight-stone-600 mb-4">Print</h1>
                    <p>
                        Notre agence de communication vous accompagne également dans vos créations print:
                        <strong class="font-weight-stone-500 amber-text">flyer</strong>, <strong class="font-weight-stone-500 amber-text">affiche publicitaire</strong>,
                        <strong class="font-weight-stone-500 amber-text">brochure</strong>, <strong class="font-weight-stone-500 amber-text">catalogues</strong>
                        <strong class="font-weight-stone-500 amber-text">Kakemono</strong>, <strong class="font-weight-stone-500 amber-text">catalogue</strong>…
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-7 pl-lg-0 p-0 foor">
            <div class="view wow fadeInUp d-none d-lg-block">
                <img src="{{ asset('images/data/print.jpg') }}" class="img-fluid" alt="Image of ballons flying over canyons with mask pattern one.">
                <div class="mask rgba-black-slight flex-center"></div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row bg-primary p-0 mt-5">
        <div class="col-12">
            <div class=" pt-4 pt-md-5 pb-4 px-4 px-md-1 py-md-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-10">
                        <div class="bg-white z-depth-4 my-4 my-md-3 my-lg-4 py-4 py-md-4 pt-lg-3 pb-lg-4">
                            <div class="row d-flex justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <h1 class="display-5 font-weight-stone-600 text-center mb-0 mb-md-1 wow fadeInDown">
                                        Découvrez nos <span class="text-primary">services complémentaires</span>.
                                    </h1>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center align-items-center px-4 px-md-5 wow fadeInUp">
                                <div class="col-12">
                                    <p class="my-4">
                                        Car nous savons que le design et le graphisme seul ne suffit parfois pas à permettre
                                        l'épanouissement de votre entreprise, nous proposons aussi des services dans de
                                        <span class="text-primary text-uppercase font-weight-stone-600">développement web</span>:
                                        création et refonte de site web, site e-commerce, site institutionnel et évènementiel,
                                        audit de site web, création d'application mobile..., et de
                                        <span class="text-primary text-uppercase font-weight-stone-600">Marketing digital</span>:
                                        SEO, SEA, SMA, campagne emailing, accompagnement...
                                    </p>

                                    {% if services|length > 0 %}
                                        <div class="d-flex justify-content-center justify-content-md-around mx-md-3 flex-wrap mt-4">
                                            {% for data in services %}
                                                {% if service.slug != data.slug %}
                                                    <a href="{{ path('app_service_show', {'slug': data.slug}) }}"
                                                       class="btn {% if loop.first %}btn-primary
                                                        {% elseif loop.last %}btn-danger{% else %}btn-amber{% endif%}
                                                      mb-lg-0 mb-2 mb-md-0">{{ data.name }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row d-flex justify-content-center mx-1 mx-md-1 mt-5 mt-lg-5">
        <div class="col-12">
            <h1 class="display-4 font-weight-stone-600 text-center">Comment ça marche ?</h1>
            <h4 class="text-center h4-responsive">
                Les <span class="text-primary font-weight-stone-600">4 étapes</span> de votre projet.
            </h4>
        </div>
        <div class="col-12 col-md-8 col-lg-7">
            <div class="timeline-main">
                <ul class="stepper stepper-vertical timeline timeline-animated pl-0">
                    <li>
                        <a>
                            <span class="circle deep-orange z-depth-1-half">
                                <i class="fas fa-headset" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 ml-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 deep-orange-text">Prise de contact</h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Contactez-nous par téléphone, email ou via le formulaire de contact.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a>
                            <span class="circle bg-primary z-depth-1-half">
                                <i class="fas fa-sync-alt" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 mr-xl-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 text-primary">Analyse du besoin</h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Décrivez votre projet et indiquez-nous votre budget.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a>
                            <span class="circle success-color z-depth-1-half">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 ml-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 text-success">Validation du devis</h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Nous préparerons un plan que vous pourrez examiner et approuver.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a>
                            <span class="circle bg-default z-depth-1-half">
                                <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 mr-xl-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 text-default">
                                Lancement du projet
                            </h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Une fois d'accord sur tous les détails, le projet commence.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12 col-md-6 text-center mb-3">
            <a href="{{ path('app_contact') }}" class="btn btn-danger btn-block wow fadeInLeft">
                Contacter l'agence <i class="far fa-address-book ml-2"></i>
            </a>
            {#<a href="{{ path('app_contact') }}" class="btn btn-danger btn-lg btn-rounded font-weight-stone-600
                    py-4 px-5 d-none d-md-inline-block wow fadeInLeft" style="font-size: 1.2rem !important;">
                Contacter l'agence <i class="far fa-address-book ml-2"></i>
            </a>#}
        </div>
        <div class="col-12 col-md-6 text-center">
            <a href="{{ path('app_devis') }}" class="btn btn-primary btn-block wow fadeInRight">
                Demander un devis <i class="fas fa-calculator ml-2"></i>
            </a>
            {#<a href="{{ path('app_devis') }}" class="btn btn-primary btn-lg btn-rounded font-weight-stone-600
                    py-4 px-5 d-none d-md-inline-block wow fadeInRight" style="font-size: 1.2rem !important;">
                Demander un devis <i class="fas fa-calculator ml-2"></i>
            </a>#}
        </div>
    </div>
</section>

