 <section class="container app-service-show">
    <div class="row d-flex justify-content-center mt-4 mt-md-3 mt-lg-4">
        <div class="col-12">
            <h1 class="display-5 font-weight-stone-600 text-center wow fadeInDown my-5 mx-lg-5">
                Nous réalisons des <span class="text-danger">sites</span>,
                <span class="text-success">boutiques en ligne</span> et
                <span class="amber-text">applications</span> pour votre
                <span class="text-primary">entreprise</span>.
            </h1>
        </div>
    </div>

    {% if service.children|length > 0 %}
        <div class="row">
            {% for children in service.children %}
                {% if children.enabled %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card card-cascade narrower service blue-grey lighten-5 wow fadeInRight mb-5">
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="{{ vich_uploader_asset(children, 'file') }}"
                                     alt="{{ children.name }}">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <div class="card-body card-body-cascade text-center pb-2">
                                <h4 class="h4-responsive font-weight-stone-600 mb-3 mt-2">{{ children.name }}</h4>
                                <div class=" dark-grey-text">
                                    {{ children.description|raw }}
                                </div>

                                {#<a href="{{ path('app_service_show_s', {'slug': service.slug, 'sub_slug': children.slug}) }}"
                                   class="btn btn-primary mt-2 mb-3">
                                    En savoir plus <i class="fas fa-long-arrow-alt-right right"></i>
                                </a>#}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</section>

 <section class="container">
    <div class="row d-flex justify-content-center mx-1 mx-md-1 mt-3">
        <div class="col-12">
            <h1 class="display-5 font-weight-stone-600 text-center">Comment ça marche ?</h1>
            <h4 class="text-center h4-responsive">
                Les <span class="text-primary font-weight-stone-600">4 étapes</span> de votre projet.
            </h4>
        </div>
        <div class="col-12 col-md-8 col-lg-7">
            <div class="timeline-main">
                <ul class="stepper stepper-vertical timeline timeline-animated pl-0">
                    <li>
                        <a>
                            <span class="circle deep-orange z-depth-1-half">
                                <i class="fas fa-headset" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 ml-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 deep-orange-text">Prise de contact</h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Contactez-nous par téléphone, email ou via le formulaire de contact.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a>
                            <span class="circle bg-primary z-depth-1-half">
                                <i class="fas fa-sync-alt" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 mr-xl-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 text-primary">Analyse du besoin</h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Décrivez votre projet et indiquez-nous votre budget.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a>
                            <span class="circle success-color z-depth-1-half">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 ml-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 text-success">Validation du devis</h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Nous préparerons un plan que vous pourrez examiner et approuver.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a>
                            <span class="circle bg-default z-depth-1-half">
                                <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                            </span>
                        </a>

                        <div class="step-content z-depth-1 mr-xl-1 px-4 pt-4 pb-2">
                            <h4 class="h4-responsive font-weight-stone-600 mb-3 text-default">
                                Lancement du projet
                            </h4>
                            <p class="dark-grey-text" style="font-size: .95rem">
                                Une fois d'accord sur tous les détails, le projet commence.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

 <section class="container-fluid">
    <div class="row bg-primary p-0">
        <div class="col-12">
            <div class=" pt-4 pt-md-5 pb-4 px-4 px-md-1 py-md-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-10">
                        <div class="bg-white z-depth-4 my-4 my-md-3 my-lg-4 py-4 py-md-4 pt-lg-3 pb-lg-4">
                            <div class="row d-flex justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <h1 class="display-5 font-weight-stone-600 text-center mb-0 mb-md-1 wow fadeInDown">
                                        Découvrez nos <span class="text-primary">services complémentaires</span>.
                                    </h1>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center align-items-center px-4 px-md-5 wow fadeInUp">
                                <div class="col-12">
                                    <p class="my-4">
                                        Car nous savons qu'un site seul ne suffit parfois pas à permettre l'épanouissement de
                                        votre entreprise, nous proposons aussi des services dans le
                                        <span class="text-primary text-uppercase font-weight-stone-600">design et le graphisme</span>:
                                        logo, maquette, charte graphique, carte de visite, flyer, brochure... et de
                                        <span class="text-primary text-uppercase font-weight-stone-600">Marketing digital</span>:
                                        SEO, SEA, SMA, campagne emailing, accompagnement...
                                    </p>

                                    {% if services|length > 0 %}
                                        <div class="d-flex justify-content-center justify-content-md-around mx-md-3 flex-wrap mt-4">
                                            {% for data in services %}
                                                {% if service.slug != data.slug %}
                                                    <a href="{{ path('app_service_show', {'slug': data.slug}) }}"
                                                       class="btn {% if loop.first %}btn-primary mb-4 mb-md-0
                                                        {% elseif loop.last %}btn-danger{% else %}btn-amber{% endif%}">
                                                        {{ data.name }}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="container-fluid app-service-question">
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 col-md-11 col-lg-10">
            <h1 class="display-5 font-weight-stone-600 text-center my-5 wow fadeInDown">
                Pourquoi choisir <span class="text-primary">{{ settings.name }}</span> pour créer ou refondre son site ?
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card mb-4 wow fadeInLeft">
                <div class="row no-gutters">
                    <div class="col-12 col-md-3 col-lg-3 d-none d-md-flex justify-content-center align-items-center">
                        <img src="{{ asset('images/design.png') }}" alt="Design" />
                    </div>
                    <div class="col-12 col-md-9 col-lg-9">
                        <div class="card-body pb-1">
                            <h4 class="h4-responsive font-weight-stone--00">
                                <span class="text-primary">Un design</span> moderne et unique
                            </h4>
                            <p>
                                Nous concevons des designs modernes basé sur le <strong class="text-default font-weight-stone-600">Material design</strong>,
                                intégrant des effets d’animation dernière génération (parallaxe, sliders d’images, etc.). Chaque site réalisé
                                est unique et original, en parfaite cohérence avec la charte graphique du client.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card mb-4 wow fadeInRight">
                <div class="row no-gutters">
                    <div class="col-12 col-md-3 col-lg-3 d-none d-md-flex justify-content-center align-items-center">
                        <img src="{{ asset('images/seo.png') }}" alt="SEO" />
                    </div>
                    <div class="col-12 col-md-9 col-lg-9">
                        <div class="card-body pb-1">
                            <h4 class="h4-responsive font-weight-stone-600">
                                Des mots-clés orientés
                                <span class="text-primary">Référencement</span>
                            </h4>
                            <p>
                                Le positionnement des mots-clés sur le site, la définition des
                                meta-titres / meta-descriptions et les redirections des URLs sont autant de
                                prestations que {{ settings.name }} intègre systématiquement dans ses offres.
                                {{ settings.name }} peut proposer un accompagnement.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card mb-4 wow fadeInLeft">
                <div class="row no-gutters">
                    <div class="col-12 col-md-3 col-lg-3 d-none d-md-flex justify-content-center align-items-center">
                        <img src="{{ asset('images/budget.png') }}" alt="Budget" />
                    </div>
                    <div class="col-12 col-md-9 col-lg-9">
                        <div class="card-body pb-1">
                            <h4 class="h4-responsive font-weight-stone-600">
                                <span class="text-primary">Un budget maitrisé</span> et
                                transparent
                            </h4>
                            <p>
                                Pour chaque projet, nous formulons un devis précis et transparent détaillant le temps
                                alloué et le tarif appliqué pour chaque prestation de développement, de graphisme,
                                d’hébergement, de référencement, de maintenance et ou d’assistance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card mb-4 wow fadeInRight">
                <div class="row no-gutters">
                    <div class="col-12 col-md-3 col-lg-3 d-none d-md-flex justify-content-center align-items-center">
                        <img src="{{ asset('images/simplicity.png') }}" alt="Simple" />
                    </div>
                    <div class="col-12 col-md-9 col-lg-9">
                        <div class="card-body pb-1">
                            <h4 class="h4-responsive font-weight-stone-600">
                                <span class="text-primary">Une utilisation simple</span> en autonomie
                            </h4>
                            <p>
                                Que les sites internet soient crée avec un CMS (Wordpress) ou un Framework (Symfony), ils
                                proposent tous une interface d'administration intuitive. Après une formation personnalisée,
                                le Client peut lui-même mettre à jour le contenu ou créer des pages sans connaissances
                                particulières en informatique.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <section class="container">
    <div class="row d-flex mt-3 mb-5">
        <div class="col-12 col-md-6 text-center mb-3">
            <a href="{{ path('app_contact') }}" class="btn btn-danger btn-block wow fadeInLeft">
                Contacter l'agence <i class="far fa-address-book ml-2"></i>
            </a>
            {#<a href="{{ path('app_contact') }}" class="btn btn-danger btn-lg btn-rounded font-weight-stone-600
                    py-4 px-5 d-none d-md-inline-block wow fadeInLeft" style="font-size: 1.2rem !important;">
                Contacter l'agence <i class="far fa-address-book ml-2"></i>
            </a>#}
        </div>
        <div class="col-12 col-md-6 text-center">
            <a href="{{ path('app_devis') }}" class="btn btn-primary btn-block wow fadeInRight">
                Demander un devis <i class="fas fa-calculator ml-2"></i>
            </a>
            {#<a href="{{ path('app_devis') }}" class="btn btn-primary btn-lg btn-rounded font-weight-stone-600
                    py-4 px-5 d-none d-md-inline-block wow fadeInRight" style="font-size: 1.2rem !important;">
                Demander un devis <i class="fas fa-calculator ml-2"></i>
            </a>#}
        </div>
    </div>
</section>





