<section class="container-fluid">
    <div class="row p-0">
        <div class="col-12 p-0 mt-5">
            <div class="bg-primary text-center text-white pt-md-5 pt-4 pb-3 px-4 px-md-1">
                <h1 class="display-4 font-weight-bold text-white wow fadeInDown">La naissance {{ settings.name }}</h1>

                <div class="mb-md-4 pt-md-4 pb-md-2 mx-md-5 px-md-5 wow fadeInUp">
                    <p>
                        Dans le monde actuel <span class="font-weight-stone-600 amber-text">ultra connecté</span>,
                        il n’est pas toujours facile de se frayer un chemin pour montrer toutes les qualités de
                        son entreprise. Les services et les produits se développent à la
                        <span class="font-weight-stone-600 amber-text">vitesse grand V</span> et pour tenir le cap
                        dans ce rythme infernal, le domaine du digital s’avère idéal. Bien plus qu’un tremplin,
                        la présence en ligne devient, de nos jours, une nécessité (quel que doit le domaine) !
                    </p>
                    <p>
                        C’est dans ce contexte que l’agence <span class="font-weight-stone-600 amber-text">{{ settings.name }}</span>
                        a été créée. Son but ? Être le <span class="font-weight-stone-600 amber-text">partenaire fiable des entreprises en quête de développement</span>
                        pour accroître leur visibilité et améliorer leur image de marque. Suite à la réalisation de plusieurs
                        projets digitaux en partenariat avec des start-up dans plusieurs domaine,
                        {{ settings.name }} voit le jour.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 pt-lg-4 mx-3 mx-lg-5">
        <div class="col-12 col-md-5 col-lg-6 d-flex justify-content-center align-items-center">
            <div class="d-none d-md-block">
                <h1 class="display-4 font-weight-bold mb-4 wow fadeInLeft">
                    {{ settings.name }} <span class="text-primary font-weight-stone-600">aujourd’hui</span>.
                </h1>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-6 wow fadeInRight">
            <div class="d-block d-md-none">
                <h1 class="display-4 font-weight-bold">
                    {{ settings.name }} <span class="text-primary font-weight-stone-600">aujourd’hui</span>.
                </h1>
            </div>
            <p class="">
                L’agence {{ settings.name }} s’étend pour aider de nombreux professionnels à
                <span class="font-weight-stone-600 text-primary">augmenter leurvisibilité et présenter leurs
                    activités</span>, en s’appuyant sur le digital. En 2020, {{ settings.name }} comptabilise
                déjà <span class="font-weight-stone-600 text-primary">plusieurs plateformes</span>.
            </p>
            <p>
                Mais qui travaille chez {{ settings.name }} ? Toute une équipe mêle ses compétences et ses
                savoir-faire pour aider les entreprises à atteindre leurs objectifs en termes de croissance.
                <span class="font-weight-stone-600 text-primary"> Chef de projet
                digital, développeur web, community manager, graphiste IUX, chef de projet marketing</span>…
                Ces professionnels créatifs et à la pointe des tendances digitales travaillent en étroite
                collaboration pour mener à bien les projets de l'entreprise.
            </p>
        </div>
    </div>
    <div class="row mt-5 mx-3 mx-lg-5">
        <div class="col-12 col-md-7 col-lg-6 wow fadeInLeft">
            <div class="d-block d-md-none">
                <h1 class="display-4 font-weight-bold">
                    {{ settings.name }} <span class="text-primary font-weight-stone-600">demain</span>.
                </h1>
            </div>
            <p class="">
                Et si {{ settings.name }} vous réservait encore des
                <span class="font-weight-stone-600 text-primary">{{ settings.name }}</span> ?
            </p>
            <p>
                L’agence souhaite vivement <span class="text-primary font-weight-stone-600">augmenter son portefeuille client</span>
                et devenir une référence dans le secteur du digital. L’idée : développer davantage ses compétences
                et multiplier ses forces pour proposer de nouveaux services aux clients. Pour cela, un joli programme:
                développer, Builder d’autres plateformes digitales. Les différentes offres présentées par l'agence
                permettent de collaborer avec de nombreux professionnels et dans divers secteurs d’activités. Que vous soyez
                un particulier, une start-up, une PME/TPE ou un grand groupe, {{ settings.name }} est apte à
                accompagner les projets de toutes les entreprises.
            </p>
        </div>
        <div class="col-12 col-md-5 col-lg-6 d-flex justify-content-center align-items-center">
            <div class="d-none d-md-block">
                <h1 class="display-4 font-weight-bold mb-4 wow fadeInRight">
                    {{ settings.name }} <span class="text-primary font-weight-stone-600">demain</span>.
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="container app-apropos">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h1 class="h1-responsive font-weight-stone-600 text-center my-5 mx-md-4 wow fadeInDown">
                Notre équipe met toute son expertise au service de ses clients,
                <span class="text-danger">pour faciliter la mise en œuvre</span> et
                <span class="text-primary">la pérennité de leurs projets</span>.
            </h1>
        </div>
        <div class="col-12">
            <div class="row ">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card z-depth-3 mb-4 wow fadeInDown">
                        <div class="card-body text-center pb-1">
                            <h1 class="display-3 font-weight-stone-600 text-primary">2</h1>
                            <h4 class="h4-responsive font-weight-stone-600 text-primary">Années</h4>
                            <p class="small-8 grey-text">Au service de nos clients et de leurs objectifs</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card z-depth-3 mb-4 wow fadeInDown">
                        <div class="card-body text-center">
                            <h1 class="display-3 font-weight-stone-600 text-primary">43</h1>
                            <h4 class="h4-responsive font-weight-stone-600 text-primary">Projets réalisés</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card z-depth-3 mb-4">
                        <div class="card-body text-center">
                            <h1 class="display-3 font-weight-stone-600 text-primary">80K</h1>
                            <h4 class="h4-responsive font-weight-stone-600 text-primary">Lignes de code crées</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-4">
                    <div class="card z-depth-3 mb-4 wow fadeInDown">
                        <div class="card-body text-center pb-1">
                            <h1 class="display-3 font-weight-stone-600 text-primary">5</h1>
                            <h4 class="h4-responsive font-weight-stone-600 text-primary">Valeurs à partager</h4>
                            <p class="small-8 grey-text">Service, Innovation, Humilité, Entreprenariat, Excellence</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if teams|length > 0 %}
<section class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h1 class="h1-responsive font-weight-stone-600 text-center my-5 mx-4 wow fadeInDown">
                Notre <span class="text-primary">équipe</span>.
            </h1>
        </div>
        <div class="col-12">
            <div class="row text-center">
                {% for team in teams %}
                    <div class="col-12 col-md-4 mb-4 wow fadeInRight">
                        <div class="avatar mx-auto">
                            {% if vich_uploader_asset(team, 'file') %}
                                <img src="{{ vich_uploader_asset(team, 'file') }}" class="z-depth-2-half" alt="{{ team.name }}"
                                     style="height: 175px; width: 175px; border-radius: 30px">
                            {% else %}
                                <img src="{{ asset('images/avatar.png') }}" class="rounded z-depth-2-half" alt="{{ team.name }}"
                                     style="height: 175px; width: 175px; border-radius: 30px">
                            {% endif %}
                        </div>
                        <h4 class="font-weight-stone-600 text-primary my-3">{{ team.name }}</h4>
                        <h6 class="font-weight-stone-500 grey-text mb-2"><strong>{{ team.fonction }}</strong></h6>
                        <p class="grey-text px-5">{{ team.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h1 class="h1-responsive font-weight-stone-600 text-center my-md-5 mx-4 wow fadeInDown">
                Notre <span class="text-primary">engagement</span>.
            </h1>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card mb-4 wow fadeInDown">
                        <div class="card-body">
                            <h2 class="h2-responsive text-primary font-weight-stone-600 text-center mb-3">Accompagnement</h2>
                            <p>
                                Nous attachons une importance primordiale à l’aspect humain et à la proximité
                                de nos équipes avec nos clients. Nous partons du principe qu’un client doit
                                être accompagné tout au long de la réalisation de son projet digital :
                                suivi et disponibilité sont des valeurs essentielles chez {{ settings.name }}.
                            </p>
                            <p>
                                Les évolutions technologiques sur le web, notamment celles liées à la conception
                                de sites internet, sont difficiles à appréhender et à maîtriser pour une entreprise
                                dont ce n’est pas le métier. Nous nous efforçons d’expliquer avec pédagogie les solutions
                                apportées et la prise en main du site.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card mb-4 wow fadeInDown">
                        <div class="card-body">
                            <h2 class="h2-responsive text-primary font-weight-stone-600 text-center mb-3">Expertise</h2>
                            <p>
                                Au regard de votre problématique, nous sommes en mesure de proposer des solutions
                                fonctionnelles et techniques innovantes. Notre créativité se traduit aussi dans le
                                design de votre site: votre charte graphique est adaptée et mise en valeur pour un
                                site aux tendances actuelles.
                            </p>
                            <p>
                                Très réactifs, nos experts travaillent avec agilité et suivent des process qualité
                                rigoureux. Réunis pour un même objectif, la concrétisation de votre projet sera le
                                résultat d'échanges, d'aller-retours et de tests.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 ">
                    <div class="card mb-4 wow fadeInDown">
                        <div class="card-body">
                            <h2 class="h2-responsive text-primary font-weight-stone-600 text-center mb-3">Ethique</h2>
                            <p>
                                Chez {{ settings.name }}, tout projet débute par une relation de confiance et transparence.
                                Il nous tient à cœur d'établir des devis détaillés précis et de rendre explicite
                                chaque étape du projet. Nous revendiquons 100% de prestations réalisées.
                                Nous nous efforçons, jour après jour, de nous améliorer pour le bien de nos collaborateurs
                                et pour que notre entreprise ait un impact positif.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-12 col-md-6 text-center mt-4 mb-3">
            <a href="{{ path('app_contact') }}" class="btn btn-danger btn-lg btn-rounded font-weight-stone-600
                    py-4 px-5 d-inline-block d-md-none wow fadeInLeft">
                Contacter l'agence <i class="far fa-address-book ml-2"></i>
            </a>
            <a href="{{ path('app_contact') }}" class="btn btn-danger btn-lg btn-rounded font-weight-stone-600
                    py-4 px-5 d-none d-md-inline-block wow fadeInLeft" style="font-size: 1.2rem !important;">
                Contacter l'agence <i class="far fa-address-book ml-2"></i>
            </a>
        </div>
        <div class="col-12 col-md-6 text-center mt-4">
            <a href="{{ path('app_devis') }}" class="btn btn-primary btn-lg btn-rounded font-weight-stone-600
                    py-4 px-5 d-inline-block d-md-none wow fadeInRight">
                Demander un devis <i class="fas fa-calculator ml-2"></i>
            </a>
            <a href="{{ path('app_devis') }}" class="btn btn-primary btn-lg btn-rounded font-weight-stone-600
                    py-4 px-5 d-none d-md-inline-block wow fadeInRight" style="font-size: 1.2rem !important;">
                Demander un devis <i class="fas fa-calculator ml-2"></i>
            </a>
        </div>
    </div>
</section>






