{% extends 'user/advert/edit/form.html.twig' %}

{% block app_advert_type %}
{% endblock %}

{% block app_advert_detail %}
    <div class="form-row">
        <div class="col-12 app-radio-block-parent mt-4">
            <div class="font-weight-stone-600 mb-2">{{ form.state.vars.label|capitalize }}</div>
            {% for choices in form.state.vars.choices %}
                <div class="app-radio-block grey-text text-center py-3 px-0 rounded mr-md-2 mb-2">
                    <div class="mb-3 label font-weight-stone-600">{{ form.state.vars.choices[loop.index0].label }}</div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input with-gap" id="{{ form.state.vars.id }}_{{ loop.index0 }}"
                               value="{{ form.state.vars.choices[loop.index0].value }}" name="{{ form.state.vars.full_name }}"
                               {% if advert.state == form.state.vars.choices[loop.index0].value %}checked{% endif %}>
                        <label class="form-check-label" for="{{ form.state.vars.id }}_{{ loop.index0 }}"></label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
