<div class="row my-4" style="margin-bottom: 7.8rem !important;">
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                    <a type="button" class="btn-floating btn-lg bg-primary ml-4"><i class="fas fa-tasks" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ service }}</h5>
                    <p class="font-small grey-text">Services</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                    <a type="button" class="btn-floating btn-lg warning-color ml-4"><i class="fas fa-users" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ team }}</h5>
                    <p class="font-small grey-text">Membres de l'équipes</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                    <a type="button" class="btn-floating btn-lg light-blue lighten-1 ml-4"><i class="fas fa-comments" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ review }}</h5>
                    <p class="font-small grey-text">Témoignages</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                    <a type="button" class="btn-floating btn-lg red accent-2 ml-4"><i class="fas fa-trophy" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ achieve }}</h5>
                    <p class="font-small grey-text">Realisations</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                    <a type="button" class="btn-floating btn-lg elegant-color ml-4"><i class="fas fa-newspaper" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ post }}</h5>
                    <p class="font-small grey-text">Articles</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                    <a type="button" class="btn-floating btn-lg deep-orange ml-4"><i class="fas fa-star" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ offer }}</h5>
                    <p class="font-small grey-text">Offres</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                    <a type="button" class="btn-floating btn-lg bg-default ml-4"><i class="fas fa-user-secret" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ admins }}</h5>
                    <p class="font-small grey-text">Administrateurs</p>
                </div>
            </div>
        </div>
    </div>
</div>



