<div class="form-row mt-4 mb-3">
    <div class="col-12">
        <div class="h5-responsive border border-primary border-top-0 border-left-0 border-right-0
        d-inline-block" style="border-width: 1.6px !important">
            <div class="badge badge-primary d-inline-block mr-1" style="position: relative; bottom: 6px;">1</div>
            <div class="text-secondary d-inline-block font-weight-stone-500">Vos informations</div>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-12 col-md-6">
        <div class="d-flex flex-wrap">
            <div class="select-outline position-relative w-100">
                {{ form_widget(form.status) }}
                <label>{{ form.status.vars.label|raw }}</label>
            </div>
        </div>
        <div class="red-text font-weight-stone-500" style="margin-top: -21px">{{ form_errors(form.status) }}</div>
        <small class="form-text text-muted" style="margin-top: -21px">
            Ce champ est obligatoire
        </small>
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.name) }}
        <small class="form-text text-muted" style="margin-top: -4px">
            Ce champ est obligatoire
        </small>
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.email) }}
        <small class="form-text text-muted" style="margin-top: -4px">
            Ce champ est obligatoire
        </small>
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.phone) }}
        <small class="form-text text-muted" style="margin-top: -4px">
            Ce champ est obligatoire
        </small>
    </div>
</div>

<div class="form-row mt-5 mb-4">
    <div class="col-12">
        <div class="h5-responsive border border-primary border-top-0 border-left-0 border-right-0
        d-inline-block" style="border-width: 1.6px !important">
            <div class="badge badge-primary d-inline-block mr-1" style="position: relative; bottom: 6px;">2</div>
            <div class="text-secondary d-inline-block font-weight-stone-500">Votre projet</div>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-12">
        <div class="dark-grey-text mb-3">{{ form.project.vars.label }}</div>
    </div>
    <div class="col-12 col-md-6 col-lg-5 mb-5">
        <div class="app-checkbox-field-bulk">
            <div class="font-weight-stone-500 amber-text mb-2">{{ form.project.web.vars.label }}</div>
            {{ form_widget(form.project.web) }}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-5">
        <div class="app-checkbox-field-bulk">
            <div class="font-weight-stone-500 amber-text mb-2">{{ form.project.digital.vars.label }}</div>
            {{ form_widget(form.project.digital) }}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-5">
        <div class="app-checkbox-field-bulk">
            <div class="font-weight-stone-500 amber-text mb-2">{{ form.project.print.vars.label }}</div>
            {{ form_widget(form.project.print) }}
        </div>
    </div>
    <div class="col-12">
        <div class="red-text font-weight-stone-500" style="margin-top: -21px">{{ form_errors(form.project) }}</div>
    </div>
</div>
<div class="form-row mb-4">
    <div class="col-12">
        <div class="h5-responsive border border-primary border-top-0 border-left-0 border-right-0
        d-inline-block" style="border-width: 1.6px !important">
            <div class="badge badge-primary d-inline-block mr-1" style="position: relative; bottom: 6px;">3</div>
            <div class="text-secondary d-inline-block font-weight-stone-500">Votre budget et délai</div>
        </div>
    </div>
</div>
<div class="form-row mt-3">
    <div class="col-12 app-radio-block-parent">
        <div class="dark-grey-text mb-3">{{ form.budget.vars.label }}</div>
        <div class="d-flex flex-wrap">
            {% for choices in form.budget.vars.choices %}
                <div class="app-radio-block grey-text text-center py-3 mb-3
                    {% if data.budget == form.budget.vars.choices[loop.index0].value %}choice{% endif %}">
                    <div class="mb-2 label">{{ form.budget.vars.choices[loop.index0].label|raw }}</div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input with-gap" id="{{ form.budget.vars.id }}_{{ loop.index0 }}"
                               value="{{ form.budget.vars.choices[loop.index0].value }}" name="{{ form.budget.vars.full_name }}"
                               {% if data.budget == form.budget.vars.choices[loop.index0].value %}checked{% endif %} />
                        <label class="form-check-label" for="{{ form.budget.vars.id }}_{{ loop.index0 }}"></label>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="red-text font-weight-stone-500 mt-2">{{ form_errors(form.budget) }}</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        {{ form_row(form.delay) }}
        <small class="form-text text-muted" style="margin-top: -4px">
            Ce champ est obligatoire
        </small>
    </div>
</div>
<div class="form-row mt-5 mb-3">
    <div class="col-12">
        <div class="h5-responsive border border-primary border-top-0 border-left-0 border-right-0
        d-inline-block" style="border-width: 1.6px !important">
            <div class="badge badge-primary d-inline-block mr-1" style="position: relative; bottom: 6px;">4</div>
            <div class="text-secondary d-inline-block font-weight-stone-500">Complètez votre demande</div>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-12">
        <div class="md-form md-outline">
            {{ form_widget(form.content) }}
            {{ form_label(form.content) }}
            <div class="red-text font-weight-stone-500">{{ form_errors(form.content) }}</div>
            <small class="form-text text-muted" style="margin-top: -4px">
                Ce champ est obligatoire
            </small>
        </div>
    </div>
    <div class="col-12">
        {{ form_row(form.recaptchaToken) }}
    </div>
</div>



