{% extends 'user/layout.html.twig' %}
{% import 'user/message/macro/__receive.html.twig' as __receive  %}

{% block title %}Mes messages reçus | {{ settings.name }}{% endblock %}

{% block app_cart %}{% endblock %}
{% block app_mobile_cart %}{% endblock %}

{% block app_breadcrumbs %}
    <div class="mt-80 mt-md-7">
        {{ breadcrumb('Tableau de bord', '/u/') }}
        {{ breadcrumb('Messages reçu') }}
        {{ wo_render_breadcrumbs({ viewTemplate: '_breadcrumb.html.twig', listClass: 'breadcrumb',
            itemClass: 'breadcrumb-item', separator: '>', separatorClass: 'fas fa-angle-right'}) }}
    </div>
    <div class="mt-0 d-flex justify-content-end">
        <div class="mt-2 d-none d-lg-block">
            <div class="btn-group title" role="group" aria-label="Basic example">
                <a href="{{ path('app_dashboard_message_receive') }}" class="btn btn-outline-grey waves-effect active">
                    Messages reçus <span class="badge badge-grey badge-pill ml-1">{{ messageReceiveN }}</span>
                </a>
                <a href="{{ path('app_dashboard_message_send') }}" class="btn btn-outline-grey waves-effect">
                    Messages envoyés <span class="badge badge-grey badge-pill ml-1">{{ messageSendN }}</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_body %}
    <div class="row app-user mt-lg-5">
        {% if messages|length > 0 %}
            {% for message in messages %}
                {{ __receive.receice_list(message) }}
            {% endfor %}

            <div class="col-12 col-md-9 col-lg-8 d-flex justify-content-center mt-2">
                {{ knp_pagination_render(messages, 'Ui/_pagination.html.twig') }}
            </div>
        {% else %}
            <div class="col-12 col-md-8 text-center">
                <h3 class="text-primary h3-responsive font-weight-stone-600">
                    Vous n'avez pas encore de message !
                </h3>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}




