{% import 'Ui/Macro/buttons.html.twig' as buttons %}

<div class="row mb-4">
    <div class="col-12 d-flex justify-content-center justify-content-md-between">
        <div id="entity-list-delete-bulk-btn" class="mr-3 d-none entity-service-delete-bulk-btn">
            {% include 'Ui/Grid/Action/delete.html.twig' with {'action': {'label': 'Supprimer'}} %}
        </div>
        <div class="d-flex ml-auto">
            <div class="">
                {% include 'admin/service/filter.html.twig' with {'form': searchForm}  %}
            </div>
            {% set path = path('app_admin_service_create') %}
            <div class="mr-3">
                <a href="" class="btn btn-grey" data-toggle="modal" data-target="#entity-search">
                    <i class="fas fa-filter mr-1" aria-hidden="true"></i> Filtres
                </a>
            </div>

            {% if parent|length %}
                {% set path = path('app_admin_service_create', {'parentId': parent.id}) %}
                {% include 'Ui/Grid/Action/create.html.twig' with {'path': path, 'action': {'label': 'Créer une sous service'}} %}
            {% else %}
                {% include 'Ui/Grid/Action/create.html.twig' with {'path': path, 'action': {'label': 'Créer'}} %}
            {% endif %}
        </div>
    </div>
</div>

{% if services|length > 0 %}
    <div class="row app-user mb-5">
        <div class="col-12">
            <table class="table table-responsive-sm">
                <thead class="text-primary">
                <tr>
                    <th scope="col" class="text-center">
                        <div class="" style="position: relative; right: 10px; top: 2px">
                            <input type="checkbox" name="principal" class="form-check-input filled-in" id="principal-checkbox" value="" style="margin: 0 !important;" />
                            <label class="form-check-label" for="principal-checkbox"
                                   style="padding-left: 0!important; "></label>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-stone-500 text-center">Nom</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Description</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Image</th>
                    <th scope="col" class="font-weight-stone-500 text-center">A l'accueil</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Status</th>
                    <th scope="col" class="font-weight-stone-500 text-center"></th>
                </tr>
                </thead>
                <tbody id="list-checkbook-container">
                {% for service in services %}
                    <tr>
                        <td class="text-center">
                            <div class="" style="position: relative; right: 10px; top: 2px">
                                <input type="checkbox" name="checkbox{{ loop.index }}" class="form-check-input filled-in list-checkbook"
                                       id="checkbox{{ loop.index }}" value="{{ service.id }}" style="margin: 0 !important;" />
                                <label class="form-check-label" for="checkbox{{ loop.index }}" style="padding-left: 0!important; "></label>
                            </div>
                        </td>
                        <td class="text-center">{{ service.name|capitalize }}</td>
                        <td class="text-center">{{ service.description|raw }}</td>
                        <td class="text-center">
                            {% if vich_uploader_asset(service, 'file') %}
                                <img src="{{ vich_uploader_asset(service, 'file') }}" class="img-fluid table-img" alt="" />
                            {% else %}
                                <span class="badge badge-grey">Aucun</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if service.isHome %}
                                <span class="badge badge-success">
                                    <i class="fas fa-check mr-1"></i> Oui
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    <i class="fas fa-times mr-1"></i> Non
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if service.enabled %}
                                <span class="badge badge-success">
                                    <i class="fas fa-check mr-1"></i> Actif
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    <i class="fas fa-times mr-1"></i> Inactif
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <div class="dropdown">
                                <a class="dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-primary dropdown-menu-right mt-0">
                                    <a href="{{ path('app_admin_service_index', {'parentId': service.id}) }}" class="dropdown-item">
                                        <i class="fas fa-eye mr-1"></i> Voir
                                    </a>

                                    {% if parent|length > 0 %}
                                        <a href="{{ path('app_admin_service_edit', {'id': service.id, 'parentId': parent.id}) }}" class="dropdown-item">
                                            <i class="fas fa-pencil-alt mr-1"></i> Editer
                                        </a>
                                        <a href="{{ path('app_admin_service_move', {'id': service.id, 'pos': -1, 'parentId': parent.id}) }}" class="dropdown-item">
                                            <i class="fas fa-arrow-up mr-1"></i> Monter
                                        </a>
                                        <a href="{{ path('app_admin_service_move', {'id': service.id, 'pos': 1, 'parentId': parent.id}) }}" class="dropdown-item">
                                            <i class="fas fa-arrow-down mr-1"></i> Descendre
                                        </a>
                                    {% else %}
                                        <a href="{{ path('app_admin_service_edit', {'id': service.id}) }}" class="dropdown-item">
                                            <i class="fas fa-pencil-alt mr-1"></i> Editer
                                        </a>
                                        <a href="{{ path('app_admin_service_move', {'id': service.id, 'pos': -1}) }}" class="dropdown-item">
                                            <i class="fas fa-arrow-up mr-1"></i> Monter
                                        </a>
                                        <a href="{{ path('app_admin_service_move', {'id': service.id, 'pos': 1}) }}" class="dropdown-item">
                                            <i class="fas fa-arrow-down mr-1"></i> Descendre
                                        </a>
                                    {% endif %}

                                    <a class="dropdown-item entity-service-delete" id="{{ service.id }}">
                                        <i class="fas fa-trash mr-1 text-danger"></i> Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 d-flex justify-content-between mt-2">
            <div class="font-weight-stone-500 text-secondary">{{ services.totalItemCount }} resultats</div>
            {% if parent|length > 0 %}
                {% if parent.parent|length > 0 %}
                    <div class="">
                        <div class="text-center mr-3">
                            {% set path = path('app_admin_service_index', {'parentId': parent.parent.id}) %}
                            {{ buttons.default(path, 'Retour au parent', 'app-entity-list-btn', 'fas fa-angle-left', 'btn-outline-primary') }}
                        </div>
                    </div>
                {% else %}
                    <div class="">
                        <div class="text-center mr-3">
                            {% set path = path('app_admin_service_index') %}
                            {{ buttons.default(path, 'Retour au parent', 'app-entity-list-btn', 'fas fa-angle-left', 'btn-outline-primary') }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-12 d-flex justify-content-center mt-2">
            {{ knp_pagination_render(services, 'Ui/_pagination.html.twig') }}
        </div>
    </div>
{% else %}
    <div class="row app-user d-flex justify-content-center">
        <div class="col-12 col-md-8 text-center mt-3 mt-md-5">
            <h3 class="text-primary h3-responsive font-weight-stone-600">
                Vous n'avez aucun service.
            </h3>
        </div>
    </div>
{% endif %}
