<footer class="page-footer text-center text-md-left mt-5 pt-4">

    {% set settings = config.get %}

    <div class="container font-weight-normal">
        <div class="row text-center text-md-left mt-3 pb-3">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <p>
                    <a href="{{ path('app_home') }}" class="d-block mb-4">
                        <img src="{{ vich_uploader_asset(settings, 'file') }}" alt="{{ settings.name }}"
                             title="{{ settings.name }}" class="logo img-fluid">
                    </a>
                </p>
                {% if settings.activePost %}
                    <p>
                        <a href="{{ path('app_post_index') }}" class="footer-link">Le blog</a>
                    </p>
                {% endif %}
                <p>
                    <a href="" class="footer-link">Hébergement Web</a>
                </p>
                <p>
                    <a href="{{ path('app_contact') }}" class="footer-link">Contactez-nous</a>
                </p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h4 class="h4-responsive mb-4">
                    Nos solutions
                    <i class="fas fa-plus d-none" style="font-size: .6rem !important;
                    position:relative; bottom: 1px; right: 2px"></i>
                </h4>

                {% for s in serv %}
                    <p>
                        <a href="{{ path('app_service_show', {'slug': s.slug}) }}" class="footer-link">{{ s.name }}</a>
                    </p>
                {% endfor %}
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-5 col-lg-3 col-xl-3 mx-auto mt-3">
                <h4 class="h4-responsive mb-4">Contact</h4>
                {% if settings.address %}
                    <p>
                        <span class="btn-floating btn-sm btn-white mr-1">
                            <i class="fas fa-home text-default"></i>
                        </span>
                        {{ settings.address }}
                    </p>
                {% endif %}
                <p>
                    <span class="btn-floating btn-sm btn-white mr-1">
                        <i class="fas fa-envelope text-default"></i>
                    </span>
                    {{ settings.email }}
                </p>
                <p>
                    <span class="btn-floating btn-sm btn-white mr-1">
                        <i class="fas fa-phone-alt text-default"></i>
                    </span>
                    {{ settings.phone }}
                </p>

                {% if settings.fax %}
                    <p>
                        <span class="btn-floating btn-sm btn-white mr-1">
                            <i class="fas fa-print text-default"></i>
                        </span>
                        {{ settings.fax }}
                    </p>
                {% endif %}
                <p class="d-flex">
                    <span class="btn-floating btn-sm btn-white mr-2">
                        <i class="far fa-calendar-alt text-default"></i>
                    </span>
                    <span class="data">
                        Lundi - Vendredi (09h00 à 17h00) <br>
                        Samedi (09h00 à 13h00)
                    </span>
                </p>
                <p>
                    <span class="btn-floating btn-sm btn-white mr-1">
                        <i class="fas fa-comments text-default"></i>
                    </span>
                    Chat en ligne & E-mail 7j/7
                </p>
            </div>
        </div>
        <hr>

        <div class="row py-3 d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left grey-text">
                    © 2021 Copyright: <a href="{{ path('app_home')}}" target="_blank">{{ settings.name|lower }}.com</a> | Tous droits réservés
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!--Social buttons-->
                <div class="social-section text-center text-md-left">
                    <ul class="list-unstyled list-inline">
                        {% if settings.facebookAddress %}
                            <li  class="list-inline-item mx-0">
                                <a target="_blank" href="{{ settings.facebookAddress }}" class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if settings.twitterAddress %}
                            <li class="list-inline-item mx-0">
                                <a target="_blank" href="{{ settings.twitterAddress }}" class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if settings.youtubeAddress %}
                            <li class="list-inline-item mx-0">
                                <a target="_blank" href="{{ settings.youtubeAddress }}" class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if settings.instagramAddress %}
                            <li class="list-inline-item mx-0">
                                <a target="_blank" href="{{ settings.instagramAddress }}" class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if settings.linkedinAddress %}
                            <li class="list-inline-item mx-0">
                                <a target="_blank" href="{{ settings.linkedinAddress }}" class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
