{% import 'Ui/Macro/buttons.html.twig' as buttons %}

<div class="row app-user">
    <div class="col-12">
        <table class="table table-borderless table-responsive-sm">
            <tbody>
            <tr>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Id</div>
                    <div class="content text-primary font-weight-stone-600">{{ demand.id }}</div>
                </td>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Nom et prénom</div>
                    <div class="content text-primary font-weight-stone-600">
                        {{ demand.lastName|capitalize }} {{ demand.firstName|capitalize }}
                    </div>
                </td>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Email</div>
                    <div class="content text-primary font-weight-stone-600">{{ demand.email }}</div>
                </td>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Téléphone</div>
                    <div class="content text-primary font-weight-stone-600">{{ demand.phone }}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Nombre de locale</div>
                    <div class="content text-primary font-weight-stone-600">{{ demand.numberLocale }}</div>
                </td>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Localisation</div>
                    <div class="content text-primary font-weight-stone-600">
                        {{ demand.location.name }}
                        {% if demand.location.zone %}({{ demand.location.zone }}) }}){% endif %}
                    </div>
                </td>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Traiter</div>
                    <div class="content text-primary font-weight-stone-600">
                        {% if demand.enabled %}
                            <span class="badge badge-success">
                                    <i class="fas fa-check mr-1"></i> Oui
                                </span>
                        {% else %}
                            <span class="badge badge-danger">
                                    <i class="fas fa-times mr-1"></i> Non
                                </span>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Date de création</div>
                    <div class="content text-primary font-weight-stone-600">{{ demand.createdAt|date('d/m/Y H:i:s') }}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end mt-4">
            {% set path = path('app_admin_demand_index') %}

            <div class="text-center mr-3">{{ buttons.default(path, 'Retour à la liste', 'app-entity-list-btn', 'fas fa-angle-left', 'btn-outline-primary') }}</div>
        </div>
    </div>
</div>


