<div class="row mb-5 d-flex justify-content-center">
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h2 class="h2-responsive text-primary text-center font-weight-stone-600 pb-1">
                    Mot de passe oublié
                </h2>

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(form) }}

                <div class="form-row">
                    <div class="col-12">
                        {{ form_row(form.email) }}
                    </div>
                </div>

                {{ form_widget(form._token) }}

                <div class="text-center my-3">
                    <button type="submit" class="btn btn-primary" >M'envoyer les instructions</button>
                </div>
                {{ form_end(form, {'render_rest': false}) }}


            </div>
        </div>
    </div>
</div>
